:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

button {
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 8px;
  transition: 0.25s;
}

button:hover {
  filter: brightness(1.2);
}
